body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.container{
    padding: 10px;
    background: black;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.item{
    padding: 20px;
    font-size: 30px;
    width: 20%;
}
.item1{
    background: red;
}
.item2{
    background: blue;
}
.item3{
    background: green;
}
.item4{
    background: yellow;
}
.item5{
    background: pink;
}
.item6{
    background: magenta;
}
.item7{
    background: orange;
}